body {
    padding-bottom: 20px;
}
.header {
    padding: 20px 0;
    background-color: brown;
    color: #ffffff;
    margin-bottom: 10px;
}
.input-content {
    padding-top: 10px;
    background-color: #ebebeb;
    margin: 2px;
    border-radius: 6px;
}
.input-header {
    margin-top: 10px;
    margin-bottom: 5px;
}